html,
body {
  width: 100%;
  color: #696969;
}

input,
textarea {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  outline: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

p {
  line-height: 1.5;
}

a,
a:active,
a:focus {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

footer,
header,
aside {
  display: block;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.text-link {
  font-size: 14px;
  text-decoration: underline;
}

.highpxsize {
  font-size: 16px;
}

.bm-burger-button {
  position: fixed;
  width: 2em;
  height: 1.5em;
  left: 2.25em;
  top: 2.25em;
}

.icons {
  font-size: 20px;
  background: inherit;
  padding: 5px;
  cursor: pointer;
  color: #696969;
}
.icons:hover {
  transform: scale(1.2);
  transition: 0.3s ease;
}
.icons:not(:hover) {
  transform: scale(1);
  transition: 0.3s ease;
}

.container {
  padding: 45px 45px 45px 300px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container a {
  color: #696969;
  text-decoration: underline;
  font-size: inherit;
  line-height: 1.5;
}

.main-route-header {
  margin: 0 0 5px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 300;
  opacity: 0.7;
}

.gallery-nav-item {
  position: relative;
  min-width: 300px;
  max-width: 420px;
  width: 100%;
  height: 200px;
  margin: 0 20px;
}
.gallery-nav-p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.gallery-nav-p:hover {
  backdrop-filter: brightness(40%);
  transition: 0.3s ease;
  font-size: 20px;
}
.gallery-nav-p:not(:hover) {
  backdrop-filter: brightness(70%);
  font-size: 18px;
  transition: 0.3s ease;
}

.info-block {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.info-block-fullwidth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.split {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 560px;
  width: 100%;
}

.form {
  margin-top: 25px;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 25px;
}
.form-input {
  font-size: Tektur;
  width: 70%;
  height: 25px;
  padding: 25px;
  font-size: 14px;
  border: 1px solid #696969;
  width: 100%;
  max-width: 560px;
  min-width: 250px;
}
.form-textarea {
  resize: none;
  max-width: 80%;
  height: 150px;
  padding: 25px;
  font-size: 14px;
  border: 1px solid #696969;
  width: 100%;
  max-width: 560px;
  min-width: 250px;
}

.link-button {
  position: relative;
  width: min-content;
  cursor: pointer;
  padding: 5px 15px 5px 0;
  background: inherit;
  color: #696969;
  letter-spacing: 2px;
  cursor: pointer;
}
.link-button:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -5px;
  background-color: #696969;
  transition: width 0.3s ease;
}
.link-button:hover:before {
  width: calc(100% + 5px);
}
.link-button:not(:hover):before {
  right: 0;
  width: 0;
}

@media (max-width: 1240px) {
  .info-block {
    flex-wrap: wrap;
    gap: 55px;
  }
  .split {
    align-items: center;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 15px;
  }

  .gallery-container {
    padding: 3%;
  }

  .container {
    padding: 85px 5px 5px 5px;
  }

  .info-block {
    justify-content: center;
    padding-bottom: 55px;
  }
}
