.navigation {
  padding: 45px 55px;
  width: 270px;
  min-width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: fixed;
  background-color: #fff;
}

.mobileMenu {
  display: none;
}

.logoGroup {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logoTitle {
  font-size: 32px;
  color: #373737;
}
.logoDescription {
  font-size: 14px;
}

.navigationList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
}
.navigationItem {
  position: relative;
}
.navigationItem:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -5px;
  background-color: #696969;
  transition: width 0.5s ease;
}
.navigationItem:hover:before {
  width: calc(100% + 5px);
}
.navigationItem:not(:hover):before {
  width: 0;
}
.active::after {
  content: '';
  position: absolute;
  height: 2px;
  width: calc(100% + 5px);
  bottom: -5px;
  left: 0;
  background-color: #696969;
}

.menuWidth {
  width: 300px;
}

.social {
  display: flex;
  gap: 15px;
}

.bottomInfo {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  opacity: 0.7;
}

/* -------------------------- Media Queries -------------------------- */

@media (max-width: 768px) {
  .navigation {
    width: 100%;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    padding: 20% 15%;
    position: fixed;
    overflow: hidden;
    height: 100vh;
  }

  .logoDescription {
    width: 80%;
  }

  .hideMenu {
    transform: translate(-100%, 0);
    transition: all 1s ease;
  }
  .openMenu {
    transform: translate(0, 0);
    transition: all 1s ease;
  }

  .mobileMenu {
    z-index: 1000;
    width: 45px;
    height: 41px;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 35px;
    left: 35px;
    background-color: inherit;
    border: 2px solid #696969;
  }

  .bar {
    position: absolute;
    height: 3px;
    width: 35px;
    background-color: #696969;
  }
}
