.navigation {
  padding: 45px 55px;
  width: 270px;
  min-width: 270px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: fixed;
  background-color: #fff;
}

.mobileMenu {
  display: none;
}

.logoGroup {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.logoTitle {
  font-weight: 300;
  font-size: 32px;
  color: #696969;
}
.logoDescription {
  font-size: 14px;
  opacity: 0.7;
}

.navigationList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
}
.navigationItem {
  position: relative;
  padding: 5px 5px 0 0;
  color: #696969;
  background-color: inherit;
  font-size: 14px;
  opacity: 0.7;
  font-family: Tektur;
}
.navigationItem:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 0;
  bottom: -5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(105, 105, 105, 1) 100%
  );
  transition: width 0.3s ease;
}
.navigationItem:hover:before {
  width: 100%;
}
.navigationItem:not(:hover):before {
  right: 0;
  width: 0;
}
.active::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(105, 105, 105, 1) 100%
  );
}

.menuWidth {
  width: 300px;
}

.social {
  display: flex;
  gap: 15px;
}

.bottomInfo {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  opacity: 0.7;
}

/* -------------------------- Media Queries -------------------------- */

@media (max-width: 768px) {
  .navigation {
    width: 100%;
    z-index: 100;
    background-color: #fff;
    padding: 20% 15%;
    height: 100%;
    gap: 30px;
    overflow: hidden;
    height: 100%;
  }

  .logoDescription {
    width: 80%;
  }

  .hideMenu {
    transform: translate(-100%, 0);
    transition: all 0.5s ease;
  }
  .openMenu {
    transform: translate(0, 0);
    transition: all 0.5s ease;
  }

  .navigationList {
    gap: 25px;
  }

  .mobileMenu {
    z-index: 1000;
    width: 45px;
    height: 41px;
    cursor: pointer;
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    background-color: #fff;
    border: 2px solid #696969;
  }
  .bar {
    position: absolute;
    height: 3px;
    width: 35px;
    background-color: #696969;
  }
}
