.imageBox {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 768px;
  aspect-ratio: 1/1;
  position: relative;
  margin-bottom: 55px;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.pointerClick {
  opacity: 0;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 26px;
  z-index: 1000000;
  color: #fff;
  width: min-content;
  height: min-content;
  animation: scaleUp 1s infinite;
  transform-origin: center;
}

.painting {
  object-fit: cover;
  max-width: 768px;
  width: auto;
  height: auto;
  position: relative;
}
.painting::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.painting:hover::before {
  opacity: 1;
}
.painting:hover > .description {
  display: block;
}

.painting:hover > .pointerClick {
  opacity: 0;
}

.imageSize {
  width: 100%;
  height: 100%;
}

.textLinkImage {
  background-color: inherit;
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: #fff;
  pointer-events: all;
  border: 1px solid #fff;
  top: 10px;
}

.description {
  display: none;
  font-size: 14px;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  text-align: center;
  pointer-events: none;
}
.description + h2 {
  font-size: 14px;
}
.description:hover {
  display: block;
}

@media (max-width: 768px) {
  .pointerClick {
    opacity: 1;
  }

  .description {
    font-size: 12px;
  }

  .description + h2 {
    font-size: 12px;
  }
}
