@keyframes scaleUp {
  0% {
    font-size: 26px;
  }
  50% {
    font-size: 30px;
  }
  100% {
    font-size: 26px;
  }
}
.pointerClick {
  opacity: 0;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 26px;
  z-index: 1000000;
  color: #fff;
  width: min-content;
  height: min-content;
  animation: scaleUp 1s infinite;
  transform-origin: center;
}

.painting {
  max-width: 768px;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  margin: 0 auto;
}
.painting > img {
  object-fit: contain;
}
.painting:hover > img {
  filter: brightness(50%);
  transition: 0.5s ease;
}
.painting:hover > .description {
  display: block;
}
.painting:hover > .pointerClick {
  opacity: 0;
}

.textLinkImage {
  background-color: inherit;
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: #fff;
  pointer-events: all;
  border: 1px solid #fff;
  top: 10px;
}

.description {
  display: none;
  font-size: 14px;
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  text-align: center;
  pointer-events: none;
}
.description + h2 {
  font-size: 14px;
}
.description:hover {
  display: block;
}

@media (max-width: 768px) {
  .pointerClick {
    opacity: 1;
  }

  .description {
    font-size: 12px;
  }
  .description + h2 {
    font-size: 12px;
  }
}
