.imageBox {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 720px;
  aspect-ratio: 1/1;
  position: relative;
  margin-bottom: 55px;
}

.painting {
  object-fit: cover;
  max-width: 720px;
  width: auto;
  height: auto;
  position: relative;
}
.painting::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.painting:hover::before {
  opacity: 1;
}
.painting:hover > .description {
  display: block;
}

.imageSize {
  width: 100%;
  height: 100%;
}

.textLinkImage {
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 5px 0;
  color: #fff;
  pointer-events: all;
}
.textLinkImage:hover {
  color: #fff;
  text-decoration: underline;
}

.description {
  display: none;
  font-size: 14px;
  position: absolute;
  width: 70%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  text-align: center;
  pointer-events: none;
}
.description + h2 {
  font-size: 14px;
}
.description:hover {
  display: block;
}

@media (max-width: 768px) {
  .description {
    font-size: 12px;
    top: 70%;
  }

  .description + h2 {
    font-size: 12px;
  }
}
