.imageBox {
  display: flex;
  justify-content: center;
  max-width: 100%;
  max-height: 720px;
  aspect-ratio: 1/1;
  position: relative;
}

.painting {
  object-fit: cover;
  max-width: 720px;
  width: auto;
  height: auto;
  position: relative;
  border: 1px solid #696969;
  transition: filter 0.3s;
}

.painting:hover {
  filter: brightness(50%);
}

.description:hover + .painting {
  filter: brightness(50%);
}

.painting:hover + .description,
.description:hover {
  display: block;
}

.description {
  display: none;
  font-size: 14px;
  position: absolute;
  width: 70%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  transition: display 0.3s;
}

.description + h2 {
  font-size: 14px;
}

@media (max-width: 768px) {
  .description {
    font-size: 12px;
    top: 70%;
  }

  .description + h2 {
    font-size: 12px;
  }
}
